.background {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;

}
 
.background__box{
  width: 400px;
  height: 270px;
  position: absolute;
  top: 70px;
  left: 50px;
  background: linear-gradient(to left,#1E66A4, #1F497E);
  padding: 18px 14px;
}