[class*="__container"] {
  max-width: 1300px;
  margin: 0 auto;
  justify-self: center;
}

body {
  display: flex;
  justify-content: center;
  background-color: #091625;
}

.main {
  position: relative;
  z-index: 2;
}