.menu {
  min-height: calc(100vh - 31.5px);
  position: fixed;
  top: 31px;
  z-index: 1001;
  right: 100%;
  background: linear-gradient(to left,#157FC3, #1F497E);
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.x-button {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 40px;
  top: 10px;
  padding: 5px 6.5px 3px 6.5px;
}

.x-button:hover {
  background-color: #0E5F94;
  transition: 0.3s;
}

.menu__header {
  margin: 15px auto;
  color: white;
  font-size: 14px;
}

.menu__link-li {
  text-align: center;
  background: linear-gradient(to left,#1B5F8F, #1E3C60);
  width: 100%;
}

.menu__link {
  padding: 7.5px 10px;
  display: block;
  color: white;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}

.menu__icon {
  position: absolute;
  right: 10px;
}

.menu__inner {
  background: linear-gradient(to left,#1B5783, #1D3759);
}

.menu__inner a {
  padding: 7.5px 10px;
  display: block;
  color: white;
  cursor: pointer;
  position: relative;
  font-size: 11px;
}

.dropdown-menu {
  display: none;
  /* Your other styles here */
}

.show {
  display: block;
}
